header, footer {
  color: white;
  background-color: #3D6271;
  margin: 0em 4em 0.5em 4em;
}

h1{
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

h2{
  margin-top: 0.3em;
  font-family: "Lato", sans-serif;
  font-size: 0.75em;
}

.navegador{
  font-family: "Open Sans", sans-serif;
  font-size: 0.85em;
  margin-top: 0.3em;
  padding-bottom: 0.3em
}

a{
  padding: 0.2em 0.5em 0.2em ;
}

.Menú{
  color: #46AEFC;
}

.link1{
  color: #8A51AF;
}


body {
  background: #06294a;
}

article{
  background: white;
  margin: 1em 4em 1em 4em;
  padding: 1em 1em 1em 1em;
}

ul li {
      display: inline;
      list-style: none;
      margin-left: auto;
      margin-right: auto;
      top: 0em;
      height: 2.5em;
    }

  h3{
    font-family: "Open Sans", sans-serif;
    font-size: 1.1em;
    margin-bottom: 0;
  }

  .borde {
    border: 0.1em solid #000000;
    border-bottom-style: double;
    border-image:url("images/central-park.jpg") 20 no-repeat;
  }

  h4{
      font-family: "Adobe Devanagari", sans-serif;
      font-style: italic;
      font-size: 1em;
      letter-spacing: 0.1em;
      margin: 0em;
      color: #999999;
  }

  p{
    font-family: "Adobe Devanagari", sans-serif;
    font-size: 1.2em;
    padding-top: 0.1em;
  }

  .Compartir{
    color: #000000;
    text-decoration: none;
    font-family: "Times New Roman",sans-serif;
  }

  h5{
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-size: 0.75em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
  }
